	<!-- view container (outer) -->
	<div id="docs">

		<!-- row -->
	  	<div class="row">

			<!-- detail view -->
			<div class="col-md-12">

					<b>Documents</b>
					<ul>
						<li><a target="_blank" href="app/docs/UICDS TechNote - Adapter Development 101.pdf">UICDS TechNote - Adapter Development 101</a></li>
						<li><a target="_blank" href="app/docs/UICDS Technotes - Testing the Newly Installed UICDS Core.pdf">UICDS Technotes - Testing the Newly Installed UICDS Core</a></li>
						<li><a target="_blank" href="app/docs/UICDSAlertQuickStartGuide.pdf">UICDSAlertQuickStartGuide</a></li>
						<li><a target="_blank" href="app/docs/UICDSIncidentQuickStartGuide.pdf">UICDSIncidentQuickStartGuide</a></li>
						<li><a target="_blank" href="app/docs/UICDSMapQuickStartGuide.pdf">UICDSMapQuickStartGuide</a></li>
						<li><a target="_blank" href="app/docs/UICDSSensorQuickStartGuide.pdf">UICDSSensorQuickStartGuide</a></li>
					</ul>
					<b>External Links</b>
					<ul>
						<li><a target="_blank" href="http://uicds.us">UICDS.us</a></li>
					</ul>

			</div> <!-- detail view -->

		</div> <!-- row -->


	</div> <!-- container -->